.etiqueta {
  -webkit-animation: slide 2s infinite linear;
          animation: slide 2s infinite linear;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(20%, 0);
            transform: translate(20%, 0);
  }
}

.rueda {
  -webkit-animation: rotacion 3s infinite linear;
          animation: rotacion 3s infinite linear;
  -webkit-transform-origin: 80% 80%;
      -ms-transform-origin: 80% 80%;
          transform-origin: 80% 80%;
}

@-webkit-keyframes rotacion {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotacion {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


/* codigo en clases//
.etiqueta {
  animation: slide 1.8s infinite linear;
}

@keyframes slide {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(20%, 0);
  }
}

.rueda {
    animation: rotacion 2s infinite linear;
  }
  
  @keyframes rotacion {
    from { transform:rotate(0deg); transform-origin: 80% 80%}
    to { transform: rotate(90deg);transform-origin: 80% 80% }
}

*/