// VARIABLES//

// Color Scheme //
//First Color Scheme
$white      : #FFFFFF;

// Second Color Scheme //
$black      : #000000;
$sable      : #060606;
$charcoal   : #2E1503;

// third Color Scheme //
$tangerine  : #FFAF6D;
$orange     : #FFA500;


// FONT//
$poppins: 'Poppins', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

// FONT WEIGHT //
$regular: 400;
$bold: 700;
$flight: 300;


// FONT SIZE //
$xxxx-large: 3.125rem;   //50px
$xxx-large: 2.813rem;    //45px
$xx-large: 2.5rem;       //40px
$x-large: 1.875rem;      //30px
$large: 1.3rem;          //20px
$medium: 1rem;           //16px
$small: 0.9rem;          //14px
$x-small: 0.8rem;        //12px

