.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $sable;
  color: white;
  padding: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 6rem;
  padding-right: 6rem;

  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: $xx-large;
  }

  &__rights-text {
    font-family: $poppins;
    font-size: $x-small;
    padding-top: 1.9rem;
    padding-right: 0.4rem;

    @media (max-width: 768px) {
      text-align: center;
      
      }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $poppins;
    font-size: $x-small;
    padding-top: 1rem;

    @media (max-width: 768px) {
      display: flex;
      justify-content: center;
    }

  }
  &__links-legal, 
  &__links-anun {
    padding-right: 1rem;
    padding-top: 1rem;
    text-align: center;
  }
}
