.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: $sable;
  color: white;
  padding: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 6rem;
  padding-right: 6rem;

  @media (max-width: 768px) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 4rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: $xx-large;
  }

  &__rights-text {
    font-family: $poppins;
    font-size: $x-small;
    padding-top: 1.9rem;
    padding-right: 0.4rem;

    @media (max-width: 768px) {
      text-align: center;
      
      }
  }

  &__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: $poppins;
    font-size: $x-small;
    padding-top: 1rem;

    @media (max-width: 768px) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }

  }
  &__links-legal, 
  &__links-anun {
    padding-right: 1rem;
    padding-top: 1rem;
    text-align: center;
  }
}
